<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/waether.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This was created by Arslan Faisal it uses data from mapbox.com and dark.net!</p>
        <img class="portrait" src="/img/profile.jpg" alt="profile" />
    </div>

    {{>footer}}
</body>

</html>